#G  Cloud Ignore file for Google Cloud Functions
# Ignore everything by default
**

# Only include files needed for Cloud Function
!index.js
!package.json
!package-lock.json
!generatepdf.mjs
!utils/
!JSON/

# Exclude common junk files and dev artifacts
node_modules/
dist/
build/
.DS_Store
firebase-debug.log
*.log
*.tmp
*.bak
coverage/
pdfoutput/
.env
.env.*
local.settings.json

# Ignore Git-related metadata
.git
.gitignore