body, html, #root {
  margin: 0;
  padding-left: 1rem; /* 👈 Add this line */
  padding-right: 1rem; /* (Optional) for symmetry */
  height: 100%;
  background-color: white;
  color: black;
}

.App {
  margin: 2rem auto;
  padding: 1rem;
  font-family: sans-serif;
  background: #e3e3e3;
}

/* App.css or global CSS */
input[type="color"] {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0;
  width: 20px;
  height: 32px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body, html, #root {
    background-color: white !important;
    color: black !important;
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
  padding: 2rem;
}

.editor-box {
  max-width: 800px;
  width: 100%;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
}

.logo {
  width: 150px;
  margin-bottom: 2rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: white !important;
  text-align: center !important;
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="color"] {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  /*background-color: #007bff; */
  border: none;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  color:#ffffff;
}

.action-buttons {
  display: flex;
  gap: 0.5rem; /* Adjust spacing between buttons */
}

button.delete {
  /*background-color: #FFF;*/
  color: #ff4d4f;
}

button.delete:hover {
  background-color: #cc0000;
  color:#ffffff;
}