body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  color: black;
}

.App {
  margin: 2rem auto;
  padding: 1rem;
  font-family: sans-serif;
  background: #e3e3e3;
}

/* App.css or global CSS */
input[type="color"] {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0;
  width: 20px;
  height: 32px;
  cursor: pointer;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
  padding: 2rem;
}

.editor-box {
  max-width: 800px;
  width: 100%;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  text-align: center;
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="color"] {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

button {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}