VITE_FIREBASE_API_KEY="AIzaSyAx_vNVLuJzqvPttp4r3j_ljB7kpSg2Ev0"
VITE_FIREBASE_AUTH_DOMAIN="flair-pdf-generator.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="flair-pdf-generator"
VITE_FIREBASE_STORAGE_BUCKET="flair-pdf-generator.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="136416086270"
VITE_FIREBASE_APP_ID="1:136416086270:web:0428d0abb5be689c68bdaf"
VITE_USE_FUNCTIONS_EMULATOR="true"
